# Exported functions
export(prism.simulate_prepost)
export(prism.trueabundanceplot)
export(prism.covariance)
export(prism.bootstrap_summary)
export(prism.forestplot)
export(prism.network)
export(prism.circlenetwork)
export(prism.sigmaplot)
export(prism.diagnose_mcmcerror)
export(prism.proportionality)
export(prism.3dscatterplot_comparisons)
export(prism.3dscatterplot)
export(prism.bivariate)
export(prism.spsd)
export(prism.proportions)
export(prism.method_comparison)
export(prism.assessment)
export(cclasso)
export(SparCC_count)

# Import packages
import(fido)
import(compositions)
import(foreach)
import(doSNOW)
import(stats)  # Keep stats for base R functions
import(MCMCpack)
import(rBeta2009)
import(driver)
import(forcats)
import(dplyr)   # Part of tidyverse, can be directly imported
import(tidyr)   # Part of tidyverse, can be directly imported
import(progress)
import(progressr)
import(parallel)
import(ggplot2)
import(profvis)
import(gridExtra)
import(grid)
import(pbapply)
import(filelock)
import(coda)
import(GGally)
import(nloptr)
import(plotly)
import(htmlwidgets)
import(alphashape3d)
import(viridis)
import(reshape2)
import(BiocManager)   
import(SpiecEasi) 
import(banocc)
import(propr)            
import(gtools)
import(ggridges)
import(pheatmap)
import(igraph)
import(qgraph)
import(ggraph)
import(patchwork)
import(data.table)

# Import specific functions to avoid conflicts
importFrom(devtools, install_github)
importFrom(utils, combn, head, tail)

# Specify function imports explicitly to avoid ambiguity
importFrom(fido, alrInv, alr, miniclo_array, clr_array, gather_array, create_default_ilr_base, alr_array, summarise_posterior)
importFrom(compositions, cor, cov, dist, var, anova, ilr, ilrInv, normalize, alrInv, alr)
importFrom(MCMCpack, rdirichlet, ddirichlet)
importFrom(rBeta2009, rdirichlet, rbeta)
importFrom(SpiecEasi, make_graph, clr, alr)
importFrom(igraph, as_data_frame, decompose, normalize, groups, crossing, spectrum, permute, union)
importFrom(gtools, ddirichlet, rdirichlet, permute)
importFrom(data.table, melt, dcast, first, last, between)
