export(rmvnorm)
export(within)
export(simulate_data)
export(estimate_covariance)
export(calculate_pval)
export(calculate_bootstrap_summary)
export(forest_plot)
export(sigmaplot)
export(kurtosis)
export(skewness)
export(estimate_covariance_convergence)
export(diagnose_bootstrap_convergence)
export(calculate_proportionality)
export(plot_and_save_surfaces)
export(plot_comparisons_3d_scatter)
export(plot_rpars_3d_scatter)
import(compositions)
import(foreach)
import(doSNOW)
import(stats)
import(MCMCpack)
import(rBeta2009)
import(driver)
import(tidyverse)
import(dplyr)
import(tidyr)
import(progress)
import(progressr)
import(parallel)
import(ggplot2)
import(profvis)
import(gridExtra)
import(grid)
import(pbapply)
import(coda)
import(GGally)
import(nloptr)
import(plotly)
import(htmlwidgets)
import(alphashape3d)
import(viridis)
importFrom(utils, combn, head, tail)
